# Caddyfile for S3 Reverse Proxy with 'data/' Path Structure

# Global options block.
{
    debug
    auto_https off
}

# Define the HTTP server
:{$SERVER_PORT:8080} {
    # Health check endpoint
    handle /healthz {
        respond "OK" 200
    }

    # Main request handling.
    # If incoming request is /app_name/filepath.ext
    # it will be rewritten to BUCKET_PATH_PREFIX/data/app_name/filepath.ext
    handle {
        # Prepend BUCKET_PATH_PREFIX/data to the incoming request URI path
        
        reverse_proxy {$MINIO_UPSTREAM_URL}
    }
}
